<?xml version="1.0" encoding="UTF-8"?>
<?pcf-stylesheet path="/xsl/_props.xsl" site="templates" extension="html"?>
<!DOCTYPE document SYSTEM "http://commons.omniupdate.com/dtd/standard.dtd"> 

<document xmlns:ouc="http://omniupdate.com/XSL/Variables">
    
    <!-- com.omniupdate.properties -->
    <title><!--%echo var="friendly" --></title>
    <!-- /com.omniupdate.properties -->
    
</document>
   

